.search {
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    padding-right: 6px;
    padding-left: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 10px;
}