.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(110, 110, 223, 0.925);
    height: 25px;
    padding-top: 5px;
    padding-left: 40px;
    padding-bottom: 5px;
}

.Home,
.download {
    width: 100px;
    color: white;
    font-size: 13px;
    padding-top: 5px;
    cursor: pointer;
}

.download {
 
    border: 1px;
    border-color: white;
    border-radius: 2px;
    border-style: solid;
    text-align: center;
    width: 80px;
    margin-right: 10px;
}

.search {
    flex: 1;
    width: 400px;
    font-size: 10px;
    border: 1px;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}