p {
    font-family: Montserrat;
    text-align: center;
    margin: 0;
}

.title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.highlight {
    cursor: pointer;
    text-decoration: underline;
}